.loading-container {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
}
